<ion-content>
  <div id="container">
    <strong>Welcome to Apple Store <ion-icon name="logo-apple"></ion-icon></strong>
    <br><br>
    <ion-item>
      <ion-label position="floating">
        <p>Please enter your name</p>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="age" pin="true" min="7" max="100" step="1" color="primary">
        <ion-icon slot="start" size="small" name="body"></ion-icon>
        <ion-icon slot="end" name="body"></ion-icon>
      </ion-range>
    </ion-item>
    <h5>Your Age: {{age}}</h5>
    <br>
    <ion-button color="light" (click)="next()">Next</ion-button>
  </div>
  <div style="margin: 30px;">
    <ion-button color="warning" [routerLink]="['/orders']">Orders</ion-button>
  </div>
</ion-content>