<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let product of cart">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Qty: {{product.qty}}
        <br>
        Price per unit: {{product.price}}
        <br>
        <b style="color:rgb(204, 204, 204);">Total: {{product.qty*product.price}}฿</b>
      </ion-card-content>
    </ion-card>
  </div>
  <h4 style="text-align: right; margin-right:15px">Total Price: {{total}} ฿</h4>
  <br>
  <div style="text-align: center;">
    <ion-button color="success" (click)="confirm()">Confirm</ion-button>
  </div>
</ion-content>